body{
     
     margin:0 auto;  
     background-image: url(https://wallpapercave.com/wp/wp2694966.jpg); 
     
}
header{
    border-radius:5px;
    background-image:linear-gradient(to right ,rgba(94, 210, 94, 0.838),black);
    padding:20px;
    height:100px;
    display: flex;
    justify-content: flex-end;
    
    
}
a{
    text-decoration: none;
    padding:10px;
    font-size:19px ;
    font-family: sans-serif;
    color:#eee;
    transition:all 0.3s ;  
}
header  nav{
    transform: translateY(20px);
    margin-top:30px;
}
a:hover{
    color:green;
    font-size: x-large;
    
}
h1{
    color: #eee;
    font-size:37px;
    font-family:sans-serif ;
    text-shadow:2px 2px 2px black;
    position: absolute;
    left:0;
    padding-left:20px;
    margin-top: 40px;
}

section{
    display: flex;
    flex-wrap:nowrap;
    
}
div img{
    margin:20px 35px;
    border-radius: 10px;
    height: 500px;
    width:400px;
    object-fit: cover;
    
    position: relative;
    left:-10px;
    

}
@keyframes players{
    from{transform:translatey(20px)}
    to{transform:translatey(0)}
}
.player:active{
    transform: scale(1.01) translatey(-10px);
    
}
.player{
    animation:players 2s 1 ease-out;
    border:solid 2px black;
    border-radius: 30px;
    width:450px;
    background-color: black;
    transition: all 0.5s;

}
#players{
    display:grid;
    gap:20px;
    margin:20px;
    grid-template-columns: repeat(4, 1fr);
    
}
div p{
    text-align:center;
    font-size: 32px;
    font-family:sans-serif ;
    color: green;
    text-shadow: 1px 2px 2px white;
}